# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Node / Frontend
node_modules/
dist/

# Desktop
desktop/build/*
!desktop/build/appicon.png
desktop/frontend/

# Fullstack
fullstack/frontend/

# Wails
wailsjs/

# Environment
.env
.env.local

# Editor/IDE
.vscode/
