# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
build/*
!build/appicon.png

# Go
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Node / Frontend
frontend/node_modules/
frontend/dist/

# Wails
frontend/wailsjs/

# Environment
.env

# Editor/IDE
.vscode/
